body {
  font-family: Helvetica,Arial ;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
}

.headersettings {
  background-color: white;
  left: 0;
  padding: 0 var(--spacing-three-x);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.linkedinImage {
  font-size: 2.5em;
  color: #0077b5;
}

.leftSide {
  width: 70%;

  padding-left: 5rem;
  padding-right: 2rem;
  margin-top: 5rem;
}

.profileView {
  width: 100%;
  border: 1px solid #CACCCE;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.Images {
  height: 50%;
}

.profileViewImage {
  width: 100%;
  height: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.myImage {
  height: 140px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 2rem;
  z-index: 4;
  position: relative;
  padding: 3px;
  background-color: white;
}

.mySmallImage {
  height: 35px;
  border-radius: 50%;
  margin-left: 2rem;
}

.aboutSection {
  margin-top: 3rem;
  padding-left: 2rem;
}
.button {
  background-color: #0077b5;
  color: white;
  border-radius: 23px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.button:hover {
  cursor: pointer;
  background-color: darkgray;
  color: black;
}

.buttonPosition {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -11px;
}

.info {
  font-weight: 500;
  font-size: 14px;
}

.pakistantext {
  font-size: 12px;
  font-weight: 300;
}

.arrangeProfileViewText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.UniversityName {
  padding-right: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.UniversityNameText {
  font-weight: 400;
  font-size: 15px;
}

.UniversityLogo {
  width: 40px;
  height: 40px;
}

.EducationView {
  width: 100%;
  border: 1px solid #CACCCE;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}
.educationText {
  font-weight: bold;
  font-size: 21px;
}

.degreeName {
  font-weight: 500;
  font-size: 16px;
}

.degreeTiming {
  font-size: 12px;
  font-weight: 300;
  color: grey;
}

.EducationViewPosition {
  padding-left: 2rem;
  padding-right: 2rem;
}

.educationTextView {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ProjectView {
  width: 100%;
  border: 1px solid #CACCCE;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}
.projectName {
  font-size: 17px;
  font-weight: 600;
}

.projectDescriptionPoint {
  font-weight: 400;
  font-size: 14px;
}

.projectDescription {
  font-weight: 500;
  font-size: 15px;
}

.rightSide {
  width: 40%;

  padding-left: 1rem;
  padding-right: 5rem;
  margin-top: 5rem;
}

.manageLeftRight {
  display: flex;
  flex-direction: row;
}

.ContactInfoText {
  color: #0077b5;
}

.LanguageView {
  width: 100%;
  border: 1px solid #CACCCE;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.alignUrls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.color {
  color: #0077b5;
  font-size: 1.3rem;
}

.mailColor {
  color: red;
}
.phonecolor {
  color: #0077b5;
}
.locationcolor {
  color: green;
}
.calender {
  color: green;
}
.calenderdate {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.headphone {
  color: brown;
}
.shirt {
  color: #0077b5;
}
.video {
  color: goldenrod;
}
.link {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

.link:hover{
  cursor: pointer;
  color: black;
}

.UrlView {
  width: 100%;
  border: 1px solid #CACCCE;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.skillsView {
  width: 100%;
  border: 1px solid #CACCCE;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}
.skillsAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.space {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 15px;
}
.style {
  list-style: none;
  
}

.listAlignment {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.headerListItems {
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}

.headerListItems:hover {
  cursor: pointer;
  color: black;
}

.searchButton {
  background-color: #CACCCE;
  border-radius: 8px;
  padding: 2px;
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchButtonText {
  font-size: 14px;
  font-weight: 600;
  margin-left: 2rem;
  margin-right: 2rem;
}
.headerAlign {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alignlistItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.img {
  width: 20px;
  height: 20px;
}

.footer {
  height: 80px;
  background-color: white;
  margin-top: 10rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footertext {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: -5px;
}

.EnglishLanguageProgress {
  width: 60%;
  height: 1rem;
  background-color: #CACCCE;
  border-radius: 16px;
}

.progress {
  width: 75%;
  height: 100%;
  background-color: #0077b5;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.alignlanguageAndProgress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Urduprogress {
  width: 100%;
  height: 100%;
  background-color: #0077b5;
  border-radius: 16px;
}