<div class="bg-white p-8 rounded shadow-lg w-96">
  <h1
    class="text-2xl bg-blue-500 font-semibold mb-10 text-center text-white rounded-lgp-1"
  >
    Login
  </h1>
  <form id="registrationForm" method="post" action="/login">
    <div class="mb-4">
      <div class="relative">
        <input
          type="text"
          id="username"
          name="username"
          class="w-full border rounded-lg px-3 py-2 focus:outline-none focus:border-blue-500"
          required
        />
        <label
          for="username"
          class="absolute left-3 -top-2 text-xs text-gray-500 bg-white px-1"
          >Username</label
        >
      </div>
    </div>

    <div class="mb-4">
      <div class="relative">
        <input
          type="password"
          id="password"
          name="password"
          class="w-full border rounded-lg px-3 py-2 focus:outline-none focus:border-blue-500"
          required
        />
        <label
          for="password"
          class="absolute left-3 -top-2 text-xs text-gray-500 bg-white px-1"
          >Password</label
        >
      </div>
    </div>
    <div>Have not accout? <a href="/register">Register</a></div>

    <div class="mt-6 text-center">
      <button
        type="submit"
        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600"
      >
        Login
      </button>
    </div>
  </form>
</div>

<script>
  // Initialize jQuery Validate Plugin
  $(document).ready(function () {
    $("#registrationForm").validate({
      rules: {
        username: {
          required: true,
        },
        password: {
          required: true,
        },
      },
      messages: {
        username: {
          required: "Please enter a username",
        },
        password: {
          required: "Please enter a password",
        },
      },
      errorClass: "text-red-500 text-xs italic font-size-0.75rem",
      errorElement: "div",
      errorPlacement: function (error, element) {
        var existingError = element.next(".text-red-500");
        if (!existingError.length) {
          error.insertAfter(element);
        }
      },
    });
  });
</script>
